.SidePanel-item{
    background : grey;
    height : 100%;
    position : relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.SidePanel-item-clickable{
    cursor : pointer;
}

.SidePanel-item-clickable:hover{
    filter : brightness(0.9);
}

.SidePanel-item-clickable:active{
    filter : brightness(0.5);
}